*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 1fr 1.4fr 1.5fr;
    grid-template-columns:  200px 100px 80px  50px 175px 1fr 1fr 1fr;
    grid-template-areas: "div1 div2  div2  div2 div3 div4 div4 div4"
                         "div5 div2 div2 div2 div3 div4 div4 div4"
                         "div5 div6 div6 div7 div7 div4 div4 div4 "
                         "div8 div8 div9 div9 div9 div10 div11 div12";
    grid-gap:20px;
    padding:10px;
    

}

main div{
    border-radius: 15px;
    background-color: white;
    position: relative;
    overflow: hidden;

    
    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease,
        filter 0.35s ease;

    
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

main div:hover {
    transform: translateY(-10px) scale(1.04);
    box-shadow:
        0 0 20px rgba(255, 140, 0, 0.7),
        0 0 45px rgba(255, 140, 0, 0.5),
        0 15px 30px rgba(0, 0, 0, 0.8);
    filter: brightness(1.15) saturate(1.1);
    z-index: 10;
}

main div::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.35)
    );
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

main div:hover::after {
    opacity: 0.2;
}

#div1{
    grid-area: div1;
    background-image: url(https://i.pinimg.com/736x/c4/91/50/c49150b2e31f8310cee67f8a455dbf74.jpg);
    background-position: center;
    background-size: cover;
}
#div6{
    grid-area: div6;
    background-image: url(https://i.pinimg.com/736x/81/55/9a/81559a212cf50b5d6c1588cd4c0e1132.jpg);
    background-position: center;
    background-size: cover;
}
#div3{
    grid-area: div3;
    background-image: url(https://i.pinimg.com/736x/fa/57/a2/fa57a225fb4ebd7e298720983b3179f3.jpg);
    background-position: center;
    background-size: cover;
}
#div4{
    grid-area: div4;
    background-image: url(https://i.pinimg.com/736x/4d/72/8b/4d728b61d7543422ce2f57d479e22005.jpg);
    background-position: center;
    background-size: cover;
}
#div5{
    grid-area: div5;
    background-image: url(https://i.pinimg.com/736x/8e/6b/40/8e6b40cab6bfe99191ee0826a2b3adea.jpg);
    background-position: center;
    background-size: cover;
}
#div2{
    grid-area: div2;
    background-image: url(https://i.pinimg.com/originals/2b/d9/53/2bd95341edcd85a63bbe9b395f3289af.gif);
    background-position: center;
    background-size: cover;
}


#div7{
    grid-area: div7;
    background-image: url(https://i.pinimg.com/736x/84/29/ab/8429abee491367bba6a8b6a9a32502fc.jpg);
    background-position: center;
    background-size: cover; 
    
}
#div8{
    grid-area: div8;
    background-image: url(https://i.pinimg.com/736x/92/e5/87/92e587d09a18b3da071130ce9d307502.jpg);
    background-position: center;
    background-size: cover;
}
#div9{
    grid-area: div9;
    background-image: url(https://i.pinimg.com/1200x/ab/1f/d7/ab1fd7ad5333e7e28da334cb9052e01a.jpg);
    background-position: center;
    background-size: cover;
}
#div10{
    grid-area: div10;
    background-image: url(https://i.pinimg.com/originals/a9/60/e6/a960e6362dc2e914a7ccbd8ca0047e7b.gif);
    background-position: center;
    background-size: cover;
}
#div11{
    grid-area: div11;
    background-image: url(https://i.pinimg.com/736x/21/4a/21/214a21b365588e8d459a96d60ad06bdb.jpg);
    background-position: center;
    background-size: cover;
}
#div12{
    grid-area: div12;
    background-image: url(https://i.pinimg.com/736x/a4/b3/e2/a4b3e23c3897a362eeb6a17db34e4365.jpg);
    background-position: center;
    background-size: cover;
}