*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    display: flex;
    justify-content:space-between;
    padding: 10px 30px;
}
#nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 10px;
}

#main>h1{
    font-size: 300px;
    font-weight: 400;
    padding-left: 60px;
}

#btmleft{
    
    position: absolute;
    bottom: 10%;
    left: 3%;
    width: 300px;
}
#btmleft h3{
    font-size: 18px;
}
#btmleft h4{
    font-size: 18px;
    margin-top: 20px;
}
#btmleft p{
    margin-top: 10px;
    font-size: 10 px;
}

#btmbar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 10px 70px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#btmbar h1{
    font-size: medium;
}
#btmbar a{
    text-decoration: none;
    color: black;
    font-size: medium;
}
 #main > img {   
    position: absolute;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}
#main > img:hover {
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

 #main #first{
    height: 280px;
    top: 50%;
    left: 62%;

 }
 #main #second{
    height: 250px;
    width: 210px;
    top: 40%;
    left: 49%;
 }
 #main #third{
    height: 200px;
    
    top: 55%;
    left: 40%;
 }
 h2{
    color: purple;
 }