@font-face {
    font-family: seb;
    src: url(/d:\downloads\sf-pro-display_semibold.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white
}
#nav{
    height: 50px;
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
#nav h4{
    font-size: 22px;
    font-weight: 600;
    color: black;
}
#center{
    height: 70%;
    background-image: url(https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/store-card-40-iphone-17-pro-202509_FMT_WHH?wid=618&hei=900&fmt=jpeg&qlt=90&.v=UzBXQnlhUWdraTNvNU1Kb3pEQlpXQjVOVStZaG1ncWFjNXVUZkZ4anVIYkxkU0ZPTlpaU08rcXlLdm5vVFNtWms4Qy8xWXFFK1dKS3pEemhEREZVdTRKWlgzZzdyUXEzcGE2bUxYbWVvdHF2bC94bmFYRGtYTVF5WXZKZDExUW4);
    background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    padding: 50px;
    font-family: seb;
}

#center h1{
    color: white;
    font-size: 50px;

    
}
#center h4{
    color: white;
    font-weight: 200;
    font-size: 30px;
    
}

#links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
}

#links button{
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
}